/*
The CSS snippets below are just my personal preference. 
You do not need these if you don't want them.
*/

body {
  --checklist-done-decoration: none;
  --link-decoration: none;
  --link-external-decoration: none;
}
